---
/**Auto-play carousel :3 (local)
 *
 *
 * */
import ieeeWhite from "../../assets/brand/ieeeWhite.svg";
import logoWhite from "../../assets/brand/logoWhite.svg";
const images = [
    { src: "/carousel/foto1.jpg", alt: "RNR Bucaramanga 2025" },
    { src: "/carousel/foto2.jpg", alt: "RNR Bucaramanga 2025 team" },
    { src: "/carousel/foto3.jpg", alt: "IEEE day By USC 2025" },
    { src: "/carousel/foto4.jpg", alt: "RNR Bucaramanga 2025 stuff" },
    { src: "/carousel/foto5.jpg", alt: "Reunion general IEEE Icesi 2025" },
    { src: "/carousel/foto6.jpg", alt: "Consejeros de la rama 2025" },
];
---

<section class="bg-gunmetal ">
    <div
        class="carousel relative max-w-7xl mx-auto overflow-hidden h-80 lg:h-112"
    >
        {
            images.map((img, index) => (
                <img
                    src={img.src}
                    alt={img.alt}
                    class:list={[
                        "carousel-slide absolute inset-0 w-full h-full object-cover transition-opacity duration-1000",
                        index === 0 ? "opacity-100 z-10" : "opacity-0 z-0",
                    ]}
                />
            ))
        }
        <div class="absolute inset-x-0 bottom-0 z-20 h-20 sm:h-24
            flex items-center justify-between px-6 sm:px-8
            bg-gradient-to-t from-black/75 via-black/60 to-transparent
            backdrop-blur-sd pointer-events-none">

            <img class="h-8 sm:h-10 md:h-12 lg:h-16" src={ieeeWhite.src} alt="IEEE" />
            <img class="h-8 sm:h-10 md:h-12 lg:h-16" src={logoWhite.src} alt="IEEE ICESI" />
        </div>
    </div>
</section>

<script>
    import { slide } from "astro:transitions";

    window.addEventListener("DOMContentLoaded", () => {
        const slides = document.querySelectorAll(".carousel-slide");
        let current = 0;

        if (!slides.length) return;

        setInterval(() => {
            slides[current].classList.remove("opacity-100", "z-10");
            slides[current].classList.add("opacity-0", "z-0");

            current = (current + 1) % slides.length;

            slides[current].classList.remove("opacity-0", "z-0");
            slides[current].classList.add("opacity-100", "z-10");
        }, 5000);
    });
</script>
